
  @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Roboto+Mono&display=swap');
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E8E8E8;
}

.banner {
    width: 2000px;
    height: 520px;
    background-image: url(/MeuPortif/images/fumdo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    color: white;
    font-family: 'Lobster Two', cursive;
    display:flex;
    justify-content: center;
    padding-top: 60px;
    font-size: 95px;
}
.subtexto-banner{
    color:white;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;

}

.container-grid{
    margin: 0 auto;
}

.cabecalho{
    padding-top: 70px;
    justify-content: center;  
    
}

.titulos {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    width: 600px;
    height: 90px;
    transition: 0.2s ease-in-out;
}

.titulos>*{
    display: flex;
    justify-content: space-between 20px;
    border-radius: 30px;
    border: 3px solid #ffffff;
    padding: 15px;
    width: 185px;
    height: 70px;
}

.titulos>*:hover {
    height: 85px;
    width: 200px;
    transition: 0.2s ease-in-out;
}   

.cabecalho a{
    padding-left: 40px;
    display: flex;
    text-decoration: none;
    color:white;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    display: inline-block;
    
}

.desenho{
    padding-left: 30px;
    width: 500px;
    
}

.conteudo-banner{
    justify-content: center;
    display: flex;
}

.info{
padding-top: 60px;
padding-left: 300px;
justify-content: left;
display:flex

}

.texto-info{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    padding-top: 10%;
    display: flex;
    justify-content: center;
}