
  @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Roboto+Mono&display=swap');
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E8E8E8;
}

.banner {
    width: 2000px;
    height: 520px;
    background-image: url(/MeuPortif/images/fumdo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    color: white;
    font-family: 'Lobster Two', cursive;
    display:flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 90px;
}
.subtexto-banner{
    color:white;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;

}
